/* Write your CSS here */
.speed-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #07080c;
  height: 100vh;
}
.image {
  height: 300px;
  width: 45%;
}
.heading {
  color: #ffffff;
  font-family: 'Roboto';
}
.para_one {
  color: #ffffff;
  font-family: 'Roboto';
}
.button {
  background-color: #0b69ff;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  border-width: 0px;
  margin-right: 15px;
}
.apply_button {
  background-color: transparent;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  border-width: 1px;
  border-color: #ffffff;
}
